---
layout: listing
cards:
- name
- pubs
- projects
title: Gregory Malecha
---

{% assign posts = site.posts | sort: 'date' | reverse %}
{% for post in posts limit:5 %}
<li class="card" style="margin-bottom: 20pt;">
  <div class="card-block">
    <h4 class="card-title">{{ post.title }}</h4>
    <small>{{ post.date | date: "%b %-d, %Y" }}</small>
    <blockquote class="card-text">
      {{ post.excerpt | strip }}
    </blockquote>
    <a href="{{ post.url }}" class="btn btn-primary btn-floating btn-action circle">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </div>
</li>
{% endfor %}
{% if posts.size > 5 %}
<li class="card" style="margin-bottom: 20pt;">
  <div class="card-block">
    Read more
  </div>
</li>
{% endif %}
