<div class="card">
  <div class="card-block" style="position: relative;">
    <div style="display: block; float: left; text-align: center; width: 20%; margin: 5pt;">
      <img src="{{ "/img/gregory-malecha.jpg" }}"
	   style="border-radius: 50%;"
	   class="img-responsive circle">
    </div>
    <div class="align-middle" style="display: block;">
      <h4 class="card-title" style="display: inline-block;">Gregory Malecha</h4>
      <p><i class="fa fa-envelope left"></i> gmalecha at gmail</p>
    </div>
{% comment %}
    <p class="card-text" style="clear: both">
      Mullings on computer science and math, from formal methods to machine learning.
    </p>
{% endcomment %}
  </div>
</div>
