{% if page.noheader %}
<div style="height: 40pt; display: block; "></div>
{% else %}
{% if page.poster contains "http:" or page.poster contains "https:" %}
{% assign poster_image = page.poster %}
{% elsif page.poster %}
{% capture poster_image %}{{ "/img/" }}{{ page.poster }}.jpg{% endcapture %}
{% else %}
{% assign random = page.title|size|modulo:4 %}
{% case random %}
{% when 0 %}
{% assign poster_image = "/img/redwoods.jpg" %}
{% when 1 %}
{% assign poster_image = "/img/pond.jpg" %}
{% when 2 %}
{% assign poster_image = "/img/clouds.jpg" %}
{% else %}
{% assign poster_image = "/img/franconia.jpg" %}
{% endcase %}
{% endif %}
<header>
  <div style="position: relative; z-index: -10;" class="carousel-item active">
    <!--Mask color-->
    <div class="view">
      <img src="{{ poster_image }}" class="img-fluid" alt="">
      <div class="full-bg-img">
      </div>
    </div>
  </div>
  <div style="position: fixed; top: 0pt; z-index: -1;" class="carousel-item active">
    <!--Mask color-->
    <div class="view">
      <img src="{{ poster_image }}" class="img-fluid" alt="">
      <div class="full-bg-img">
      </div>
    </div>
  </div>
</header>
{% endif %}
