<script type="text/javascript" src="{{ "/js/jquery-3.1.1.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/tether.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" }}"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
{% comment %}
<script type="application/javascript" src="{{ "/js/site.js" }}"></script>
{% endcomment %}
<script async src="https://static.addtoany.com/menu/page.js"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}
