<script type="text/javascript" src="{{ "/js/jquery-3.1.1.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/tether.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" }}"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
{% comment %}
<script type="application/javascript" src="{{ "/js/site.js" }}"></script>
{% endcomment %}

{% for js_name in extra_js %}
<script type="application/javascript" src="{{ js_name }}"></script>
{% endfor %}

