    <header>
      <div class="carousel-item active">
	<!--Mask color-->
	<div class="view">
	  <img src="img/img1-wide.jpg" class="img-fluid" alt="">
	  <div class="full-bg-img">
	  </div>
	</div>
      </div>
{% comment %}
      <div class="container">
	<div class="row">
        <div class="col-xs-4 col-md-3 col-md-offset-1 col-lg-offset-1 col-lg-2 vcenter">
          <img class="img-responsive img-rounded"
	       style="max-height: 100pt; text-align: center;" src="img/gregory-malecha.jpg" alt="">
        </div><!--
     --><div class="col-xs-8 col-md-6 col-lg-6 text-left vcenter">
	  <h1>Gregory Malecha</h1>
	  <div class="light-primary" style="font-size: 18pt">gmalecha at gmail dot com</div>
	  <div class="light-primary" style="font-size: 18pt">
	    <a class="github-button" href="https://github.com/gmalecha" aria-label="Follow @gmalecha on GitHub">Follow</a>
	    <a href="https://twitter.com/gregory_malecha" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @gregory_malecha</a>
	  </div>
	</div>
	</div>
      </div>
{% endcomment %}
    </header>
