---
layout: listing
category: blog
title: Reflections
extra_css:
 - /css/blog-index.css
---
{% assign posts = site.posts | sort:'date' | reverse %}
{% for post in posts %}
<li class="card">
  <div class="card-block">
  <h2><a href="{{ post.url }}">{{ post.title }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></h2>
  <div class="secondary-text" style="margin-bottom: 5pt">{{ post.author }} @ {{ post.date | date:"%Y-%m-%d" }}</div>
  <blockquote class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>'}}</blockquote>
  {% unless post.tags.empty? %}
  <p class="tags">
    {% for tg in post.tags %}
    <span class="tag blue">{{ tg }}</span>
    {% endfor %}
  </p>
  {% endunless %}
  </div>
</li>
{% endfor %}
