.circle { padding: 0px; vertical-align: middle; display: inline-block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.btn-floating { height: 47px; width: 47px; position: relative; overflow: hidden; z-index: 1; vertical-align: middle; }
.btn-action { margin-top: -8px; margin-bottom: -60pt; margin-right: 20px; float: right; }
.btn-circle { height: 47px; width: 47px; padding: 0px; vertical-align: middle; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.circle i { line-height: 37px; }
.circle .fa { margin: 5px; }
.btn-facebook { background-color: #3B5998; }
.btn-twitter { background-color: #55ACEE; }
.btn-google-plus { background-color: #DD4B39; }
.btn-li { background-color: #0082CA; }
.btn-github { background-color: #4183C4; }
.navbar .nav-item .nav-link .fa { padding-left: 3px; padding-right: 3px; }

nav a.navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1pt;
    v-align: middle;
}

nav .navbar-brand {
    width: 150px;
}

@media (min-width : 768px) {
nav .navbar-brand {
    width: 310px;
}
}
@media only screen and (min-width : 992px) {
nav .navbar-brand {
    width: 540px;
}
}
@media only screen and (min-width : 1200px) {
nav .navbar-brand {
    width: 700px;
}
}

.truncating-children li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article h1 { font-weight: bold; }

blockquote.excerpt {
    font-size: smaller;
}

p.tags {
    text-align: right;
}

p.tags .tag {
    font-size: 95%;
}

blockquote {
    margin: 5pt;
    margin-left: 20pt;
}

blockquote:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f10d';
    box-sizing: inherit;
    margin: 0;
    color: rgba(0,0,0,0.3);
    margin-left: -17pt;
    margin-right: 2pt;
    font-size: 125%;
}
blockquote:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f10e';
    box-sizing: inherit;
    color: rgba(0,0,0,0.3);
    margin-left: 2pt;
}

h3 {
    font-weight: normal;
}

.social-share-footer {
    margin-top: 15pt;
    text-align: center;
    margin-bottom: -25pt;
}
.social-share-footer li {
    display: inline-block;
}