---
layout: default
---

<article class="container">
  <div id="post-card" class="card"
       style="margin-bottom: 20pt; position: relative;">

    <div class="side-controls" dock-to="post-card"
	 style="margin-right: -44px; width: 47px; top: 30px; position: absolute; right: 0px;">
      <ul style="list-item-style: none;">

{% if download_url %}
	<li style="margin-bottom: 10pt; height: 47px;">
	  <a href="#" class="btn btn-circle btn-primary btn-action circle">
	    <i class="fa fa-download" aria-hidden="true"></i>
	  </a>
	</li>
{% endif %}

      </ul>
    </div>

    <div class="card-block" style="margin-right: 20pt;">
      {{ content }}
    </div>
  </div>



</article>
