---
layout: card-page
---
  <h2>{{ title }}</h2>
  <h4 class="authors">{{ authors }}</h4>
  {% assign sabstract = abstract|strip %}
  {% unless sabstract == "" %}
  <blockquote>{{ abstract }}</blockquote>
  {% endunless %}
  <p class="tags">
    {% for tg in tags %}
    <span class="tag tag-primary">{{ tg }}</span>
    {% endfor %}
  </p>

  {% if links %}
  <p>{% for hash in links %}
    {% for lnk in hash %}
    <a class="btn btn-primary" href="{{ lnk[1] }}">{{ lnk[0] }}{% if lnk[0] == 'download' %}<i class="fa fa-download right"></i>{% endif %}</a>
    {% endfor %}
    {% endfor %}
  </p>
  {% endif %}

{% assign scontent = content|strip %}
{% unless scontent == "" %}
<div class="card">
    <div class="card-header tag-primary white-text">
        Citation (BibTex)
    </div>
    <div class="card-block">
        <p class="card-text">
	  <pre>{{ content|escape }}</pre>
	</p>
    </div>
</div>
{% endunless %}
