---
layout: page
---
<section class="row">
  <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
  <h3 class="authors">{{ page.authors }}</h3>
  <p>{{ page.abstract }}</p>
  {% if page.links %}
  <p>[ {% for hash in page.links %}
    {% for lnk in hash %}
    <a href="{{ lnk[1] }}">{{ lnk[0] }}</a>
    {% endfor %}{% if forloop.last == false %} |{% endif %}
    {% endfor %} ]
  </p>
  {% endif %}

  {% for tg in page.tags %}
  <span class="label label-default">{{ tg }}</span>
  {% endfor %}
    </div>
</section>

{% assign scontent = content|strip %}
{% unless scontent == "" %}
<section class="row">
  <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
  <pre>{{ content|escape }}</pre>
  </div>
</section>
{% endunless %}
