---
layout: page
title: Publications & Talks
category: publication
---
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr><th>At</th>
	  <th>Title</th>
	  <th>Tags</th></tr>
      {% for post in site.posts %}
      {% if post.categories contains "publication" or post.categories contains "talk" %}
      <tr><td>{% if post.where %}{{ post.where }}{% else %}{{ post.date | date: "%Y" }}{% endif %}</td>
	  <td><a href="{{ post.url }}">{{ post.title }}</a></td>
	  <td class="text-right">
	    {% for tg in post.tags %}
	    <span class="label label-default">{{ tg }}</span>
	    {% endfor %}
	  </td>
      </tr>
      {% endif %}
      {% endfor %}
      </tr>
    </table>
  </div>
</div>
