---
layout: listing
title: Publications & Talks
poster: redwoods
section: Publications
section_dir: publications
---
{% assign pubs = collections.publications | sort: 'date' | reverse %}
{% for post in pubs %}
<li class="card" style="margin-bottom: 20pt; position: relative;">
  <div class="card-block">
    <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    <h5>{{ post.data.authors }}</h5>
    <small>{{ post.data.where }} - {{ post.date | date: "%Y" }}</small>
     <p class="tags">
       {% for tg in post.data.tags %}
       <span class="tag blue">{{ tg }}</span>
       {% endfor %}
     </p>
</li>
{% endfor %}
